body {
  font-family: Arial, sans-serif;
  background-color: #d78f8f;
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

h1 {
  color: #333;
}
